body {
  margin: 0;
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

#counterButton {
  width: 150px;
  height: 150px;
  font-size: 48px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
